.author-section {
    height: 720px;
    background-color: #F0F0F0;
}

.author-section .list {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.author-section .list .item {
    margin: 0 auto;
    text-align: center;
}

.author-section .list .item .price {
    padding-top: 20px;
}

.author-section .list .item .card-title{
    width: 200px;
    height: 60px;
}