.french-woman-section {
    background-color: #f0f0f0;
    height: 652px;
}

.main-picture {
    padding-top: 80px;
    float: left;
    position: relative;
    margin-right: 50px;
    margin-left: 20px;
}

.description {
    padding-top: 150px;
}

.description-text {
    margin-top: 25px;
    font-size: 36px;
    padding-right: 110px;
}